.tweet-show {
  background: whitesmoke;
}
// 投稿内容
.tweet-show-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet-box-img {
  height: 400px;
  width: 400px;
  margin: 30px;
}

.tweet-content {
  height: 400px;
  width: 400px;
}

.tweet-content > h1 {
  border-bottom: 1px solid #000;
  padding: 3px 10px;
  margin: 40px;
}

.tweet-content  > p {
  border-bottom: 1px solid #000;
  padding: 3px 10px;
  margin: 40px;
}

.tweet-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tweet-admin-name {
  border-bottom: 1px solid #000;
  padding: 3px 10px;
  margin: 40px;
}
// 投稿内容

// コメント欄


// コメント欄