<%= render "shared/header" %>
<main>

  <%# 画面上部のタイトル部分 %>
  <section class="description-contents">
    <div class="description-image-contents">
      <div class="description-image">食を繫ぐコミニュケーション。</div>
    </div>
    <h1>FOOD LINKERとは。</h1>
    <div class="description-content">
     <p>このサイトの説明。このサイトの説明。このサイトの説明。このサイトの説明。このサイトの説明。このサイトの説明。このサイトの説明。このサイトの説明。</p>
    </div>

    <div class="can-contents">
      <div class="can-image-contents">
        <div class="can-image"></div>
      </div>
      <div class="can-content">
        <h2>このサイトでできる事</h2>
        <p>できる事。できる事。できる事。できる事。できる事。できる事。できる事。できる事。できる事。できる事。できる事。できる事。</p>
      </div>
    </div>
  </section>
  <%# 画面上部のタイトル部分 %>

  <%# 投稿の一覧表示部分 %>
  <section class="tweet-contents">
    <div class="tweet-menu">
      <h1 id="tweet-contents">一覧表示</h1>
      <div>
        検索
      </div>
    </div>
    <ul class='tweet-lists'>
      <% @tweets.each do |tweet| %>
        <li class='list'>
        <%= link_to tweet_path(tweet.id) do %>
          <div class='tweet-img-content'>
            <%= image_tag tweet.image, class: "tweet-img" %>
          </div>
          <h2 class=''>
          </h2>
        <% end %>
        </li>
      <% end %>
    </ul>
  </section>
  <%# 投稿の一覧表示部分 %>

  <%# 料理人の紹介部分 %>
  <section class="chef-contents">
    <h1>料理人紹介</h1>
  </section>
  <%# 料理人の紹介部分 %>

</main>
<%= render "shared/footer" %>
