<%= render "shared/headers" %>

<% if @tweets.present? %>
  <ul class='tweet-lists'>
    <% @tweets.each do |tweet| %>
      <li class='list'>
      <%= link_to tweet_path(tweet.id) do %>
        <div class='tweet-img-content'>
          <%= image_tag tweet.image, class: "tweet-img" %>
        </div>
      <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class='no-search'>該当する料理はありませんでした！</p>
<% end %>

<%= render "shared/footers" %>