.page-header {
  width: 100vw;
  height: 40vh;
}

.header-content {
  background-color:white;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  width: 30vw;
}

.header-center {
  width: 40vw;
}

.header-right {
  width: 30vw;
}

.food-linker {
  text-align: center;
  font-size: 34px;
  color: rgb(68, 67, 67);
  border-radius: 5px;
  transition: background,box-shadow .7s;
}

.food-linker:hover {
  background: #F8F8F8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.food-linker-logo {
  text-decoration: none;
  color: rgb(68, 67, 67);
}

.sub-title {
  text-align: center;
  font-size: 13px;
}

.header-right > ul {
  display: flex;
}

.header-right > ul > li {
  padding: 3px 10px;
  margin: 0 20px;
  border-radius: 5px;
  transition: background,box-shadow .7s;
}

.header-right > ul > li:hover {
  background: #F8F8F8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.header-right > ul > li > a {
  text-decoration: none;
  color: #000;
}

/* .menu-bar {
  background-color: whitesmoke;
} */

.menu-list {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-list > li {
  padding: 3px 10px;
  border-radius: 5px;
  transition: background,box-shadow .7s;
}

.menu-list > li:hover {
  background: #F8F8F8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.menu-list > li > a {
  text-decoration: none;
  color: #000;
}