<footer class="page-footer">
  <nav class="footer-menu">
    <ul>
      <li><a href="">料理人の新規登録</a></li>
      <li><a href="">料理人のログイン</a></li>
      <li><a href="">お問い合わせ</a></li>
    </ul>
  </nav>
  <div class="footer-title">
    FOOD LINKER
  </div>
  <div class="copyright">
    Copyright(C) 2020  FOOD LINKER  All Rights Researved.
  </div>
</footer>