<%# フッター部分 %>
<div class="footer-content">
  <div class="footer-title">
    FOOD LINKER
  </div>
  <div class="copyright">
    Copyright(C) 2020  FOOD LINKER  All Rights Researved.
  </div>
</div>
<%# フッター部分 %>