<header class="page-header">
  <div class="header-content">
    <div class="header-left">
    </div>
    <div class="header-center">
      <h1>
        <div class="food-linker">FOOD LINKER</div>
      </h1>
      <p class="sub-title">料理人で作り上げるSNS</p>
    </div>
    <%# 一般ユーザーのログイン・ログアウト %>
    <div class="header-right">
      <ul class="signup-content">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# メニューリンク %>
  <nav class="menu-bar">
    <ul class="menu-list">
      <li><a href="">TOP</a></li>
      <li><a href="">一覧表示</a></li>
      <li><a href="">イベント</a></li>
      <li><a href="">求人情報</a></li>
      <li><a href="">このサイトについて</a></li>
    </ul>
  </nav>
</header>
