<%# ヘッダー部分 %>
<div class="header-content">
  <div class="header-left">
  </div>
  <div class="header-center">
    <h1>
      <div class="food-linker">
        <%= link_to "FOOD LINKER", "/", class: "food-linker-logo" %>
      </div>
    </h1>
    <p class="sub-title">料理人で作り上げるSNS</p>
  </div>
  <div class="header-right">
  </div>
</div>
<%# ヘッダー部分 %>