<header class="page-header">
  <div class="header-content">
    <div class="header-left">
    </div>
    <div class="header-center">
      <h1>
        <div class="food-linker">FOOD LINKER</div>
      </h1>
      <p class="sub-title">料理人で作り上げるSNS</p>
    </div>
    <%# 一般ユーザーのログイン・ログアウト %>
    <div class="header-right">
      <ul class="signup-content">
        <li><a href="">新規登録</a></li>
        <li><a href="">ログイン</a></li>
      </ul>
    </div>
  </div>
  <%# メニューリンク %>
  <nav class="menu-bar">
    <ul class="menu-list">
      <li><a href="">TOP</a></li>
      <li><a href="">一覧表示</a></li>
      <li><a href="">イベント</a></li>
      <li><a href="">求人情報</a></li>
      <li><a href="">このサイトについて</a></li>
    </ul>
  </nav>
</header>
