// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inquiry-content {
  width: 60vw;
  padding: 20px;
  border: 2px solid #000;
  margin: auto;
  border-radius: 30px;
}

.inquiry-content > h1 {
  text-align: center;
  width: 200px;
  padding: 5px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 5px;
  background: whitesmoke;
}

.i-field {
  text-align: center;
  padding: 10px 50px;
}

.i-actions {
  text-align: center;
  margin: auto;
}

.i-name {
  width: 200px;
}

.i-address {
  width: 200px;
}

.i-text {
  width: 300px;
  height: 200px;
}