// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 画面上部のタイトル部分 
.description-contents {
  height: 150vh;
}

.description-contents > h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.description-content {
  width: 80vw;
  margin: auto;
}

.description-image {
  width: 100vw;
  height: 70vh;
  background-image: image-url("image5.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  padding:35vh 0;
  font-size: 30px;
  justify-content: space-between;
}

.can-contents {
  display: flex;
  margin-top: 40px;
}

.can-image-contents {
  width: 50vw;
}

.can-image {
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-image: image-url("image3.jpg");
  background-size: cover;
}

.can-content {
  width: 50vw;
}

.can-content > h2 {
  font-size: 20px;
  padding: 20px;
  border-bottom:1px solid #000;
}

.can-content > p {
  padding: 20px;
}
// 画面上部のタイトル部分 

// 投稿の一覧表示部分
.tweet-contents {
  background-color: #F8F8F8;
  text-align: center;
  font-size: 20px;
}

.tweet-menu {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-menu > h1 {
  font-size: 25px;
  padding: 3px;
  border-bottom: 1px solid;
  width: 300px;
}

.tweet-lists {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

 .tweet-lists > li {
  margin: 8px;
 }

.tweet-img-content {
  height: 259px;
}

.tweet-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: .7s;
}

.tweet-img:hover {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
// 投稿の一覧表示部分

// 料理人の紹介部分
.chef-contents {
  background-color: #F8F8F8;
  text-align: center;
  font-size: 20px;
}
// 料理人の紹介部分

// 投稿内容
.tweet-show {
  background: whitesmoke;
}
.tweet-show-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet-box-img {
  height: 400px;
  width: 400px;
  margin: 30px;
}

.tweet-content {
  height: 400px;
  width: 400px;
}

.tweet-content > h1 {
  border-bottom: 1px solid #000;
  padding: 3px 10px;
  margin: 40px;
}

.tweet-content  > p {
  border-bottom: 1px solid #000;
  padding: 3px 10px;
  margin: 40px;
}

.tweet-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tweet-update {
  text-decoration: none;
  color: #000;
  padding: 5px;
  border: 1px solid ;
  border-radius: 5px;
  transition: background,box-shadow .5s;
}

.tweet-update:hover {
  background: rgb(247, 246, 246);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.tweet-delete {
  text-decoration: none;
  color: #000;
  padding: 5px;
  border: 1px solid ;
  border-radius: 5px;
  transition: background,box-shadow .5s;
}

.tweet-delete:hover {
  background: rgb(247, 246, 246);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.tweet-admin-name {
  border-bottom: 1px solid #000;
  padding: 3px 10px;
  margin: 40px;
}
// 投稿内容

// 投稿と編集
.tweet-new-content {
  width: 60vw;
  padding: 20px;
  border: 2px solid #000;
  margin: auto;
  border-radius: 30px;
}

.tweet-new-content > h1 {
  text-align: center;
  width: 200px;
  padding: 5px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 5px;
  background: whitesmoke;
}

.t-field {
  text-align: center;
  padding: 10px 50px;
}

.t-actions {
  text-align: center;
  margin: auto;
}

.t-name {
  width: 300px;
}

.t-text {
  width: 400px;
  height: 150px;
}
// 投稿と編集

 /* タブレット表示時 */
@media (max-width: 1024px) {

}

 /* スマホ表示時 */
 @media (max-width: 599px) {

}